body {
    background-image: linear-gradient(to left, rgb(235, 33, 33), rgb(218, 65, 65) ,rgb(228, 143, 47));
    text-align: center;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 5em;
    opacity: 0.8;
    color: rgb(22, 19, 19);
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 2em;
    opacity: 0.7;
    color: rgb(27, 22, 22);
}